autocorrect
Flask==0.10.1
Flask-HTTPAuth==2.3.0
Flask-RESTful==0.3.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==1.0.1
itsdangerous==0.24
six==1.9.0
apscheduler==3.5.1
celery==4.1.1
pymongo==3.6.1
BeautifulSoup4==4.6.0
elasticsearch
aiohttp==3.2.1
tornado==5.0.2
Flask-PyMongo==0.5.2
apscheduler==3.5.1
numpy==1.18.2
pandas==0.23.1
tensorflow==1.8.0
langid==1.1.6
nltk==3.3
gensim==3.4.0
pyLDAvis==2.1.2
aiosocks==0.2.6
pycurl==7.43.0.2
Flask-Cors==3.0.8
python-twitter==3.5
bs4==0.0.1
wordcloud==1.6.0
tweepy==3.8.0