<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scopo Deep</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>
<div class="container col-lg-4">
    <form class="text-center border border-secondary mt-5 p-5" action="/login" id="loginForm" method="POST">
        <p class="h4 mb-4">Sign in</p>
        <input type="text" name="loginId" id="loginId" class="form-control mb-4" placeholder="Name" required>
        <input type="password" name="loginPass" id="loginPass" class="form-control mb-4" placeholder="Password" required>
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    </form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</html>